USE [OEFC]
GO
/****** Object:  View [dbo].[vwFINAsientosAH]    Script Date: 21/01/2021 11:49:15 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vwFINAsientosAH] as
--Asientos abiertos e históricos
--4/5/17 jcf Agrega actnumst
--
	SELECT	A.OPENYEAR,	
			A.JRNENTRY,	A.RCTRXSEQ,	A.SOURCDOC,	A.REFRENCE,	A.DSCRIPTN,	A.TRXDATE,A.TRXSORCE, A.ACTINDX, ic.Actnumst, A.POLLDTRX,A.LASTUSER,
			A.LSTDTEDT,	A.USWHPSTD,	A.ORGNTSRC,	A.ORGNATYP,	A.QKOFSET,A.SERIES,	A.ORTRXTYP,	A.ORCTRNUM,	A.ORMSTRID,A.ORMSTRNM,A.ORDOCNUM,A.ORPSTDDT,A.ORTRXSRC,A.OrigDTASeries,A.OrigSeqNum,
			A.SEQNUMBR,A.DTA_GL_Status,A.DTA_Index,A.CURNCYID,A.CURRNIDX,A.RATETPID,A.EXGTBLID,A.XCHGRATE,A.EXCHDATE,A.TIME1,A.RTCLCMTD,A.NOTEINDX,A.ICTRX,A.ORCOMID,A.ORIGINJE,
			A.PERIODID,A.CRDTAMNT,A.DEBITAMT,A.ORCRDAMT,A.ORDBTAMT,A.DOCDATE,A.PSTGNMBR,A.PPSGNMBR,A.DENXRATE,A.MCTRXSTT,A.CorrespondingUnit,A.VOIDED,A.Back_Out_JE,A.Back_Out_JE_Year,
			A.Correcting_JE,A.Correcting_JE_Year,A.Original_JE,A.Original_JE_Seq_Num,A.Original_JE_Year,A.DEX_ROW_TS, Ledger_ID
	FROM			GL20000 A
		inner join gl00105 ic
			on ic.actindx = A.actindx
	union all
	SELECT	A.HSTYEAR,	
			A.JRNENTRY,	A.RCTRXSEQ,	A.SOURCDOC,	A.REFRENCE,	A.DSCRIPTN,	A.TRXDATE,A.TRXSORCE, A.ACTINDX, ic.Actnumst, A.POLLDTRX,A.LASTUSER,
			A.LSTDTEDT,	A.USWHPSTD,	A.ORGNTSRC,	A.ORGNATYP,	A.QKOFSET,A.SERIES,	A.ORTRXTYP,	A.ORCTRNUM,	A.ORMSTRID,A.ORMSTRNM,A.ORDOCNUM,A.ORPSTDDT,A.ORTRXSRC,A.OrigDTASeries,A.OrigSeqNum,
			A.SEQNUMBR,A.DTA_GL_Status,A.DTA_Index,A.CURNCYID,A.CURRNIDX,A.RATETPID,A.EXGTBLID,A.XCHGRATE,A.EXCHDATE,A.TIME1,A.RTCLCMTD,A.NOTEINDX,A.ICTRX,A.ORCOMID,A.ORIGINJE,
			A.PERIODID,A.CRDTAMNT,A.DEBITAMT,A.ORCRDAMT,A.ORDBTAMT,A.DOCDATE,A.PSTGNMBR,A.PPSGNMBR,A.DENXRATE,A.MCTRXSTT,A.CorrespondingUnit,A.VOIDED,A.Back_Out_JE,A.Back_Out_JE_Year,
			A.Correcting_JE,A.Correcting_JE_Year,A.Original_JE,A.Original_JE_Seq_Num,A.Original_JE_Year,A.DEX_ROW_TS, Ledger_ID
	FROM			GL30000 A
		inner join gl00105 ic
			on ic.actindx = A.actindx
GO
