CREATE TABLE [dbo].[GL00105](
	[ACTINDX] [int] NOT NULL,
	[ACTNUMBR_1] [char](7) NOT NULL,
	[ACTNUMBR_2] [char](7) NOT NULL,
	[ACTNUMBR_3] [char](7) NOT NULL,
	[ACTNUMBR_4] [char](7) NOT NULL,
	[ACTNUMBR_5] [char](7) NOT NULL,
	[ACTNUMBR_6] [char](7) NOT NULL,
	[ACTNUMBR_7] [char](7) NOT NULL,
	[ACTNUMBR_8] [char](7) NOT NULL,
	[ACTNUMBR_9] [char](7) NOT NULL,
	[ACTNUMBR_10] [char](7) NOT NULL,
	[ACTNUMST] [char](129) NOT NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PKGL00105] PRIMARY KEY NONCLUSTERED 
(
	[ACTINDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
