CREATE TABLE [dbo].[Tii_LocColMapeoExo](
	[ActindxGp] [varchar](50) NOT NULL,
	[CuentaGp] [varchar](50) NOT NULL,
	[Colombia] [varchar](50) NOT NULL,
	[Formato] [varchar](50) NOT NULL,
	[ConceptoId] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
